[Unit]
Description=rpi-z2m-node
Requires=zigbee2mqtt.service
After=network.target zigbee2mqtt.service

[Service]
ExecStart=/home/alarm/devel/rpi-z2m-node-pmi-automation-hat/rpi-z2m-node
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
